<h1>Add Course</h1>
<form action="/courses/add" method="post">
    Course Number: <input type="text" name="course-number" id="" placeholder="CS-1001"><br>
    Semester: <input type="text" name="semester" id="" placeholder="Fall 2024"><br>
    Course Name: <input type="text" name="course-name" id="" placeholder="Introduction to Programming"><br>
    <button type="submit">Submit</button>
</form>