<div class="bg-white-500 text-grey p-6">
  <h1 class="text-4xl">Welcome!</h1>
  <p>How to use connext</p><br>
  <a href="/courses">Explore existing courses to enroll in</a><br>
  <a href="/courses/add">Add a new course if it doesn't already exist</a><br>
  <a href="/network/user/{{user.netid}}">Visualise your classmate network</a><br>
  <a href="/users/{{user.netid}}">View your profile and your courses</a><br>
  <a href="/chat">Check your messages</a><br>
  <a href="/logout">Logout and comeback later</a><br>
</div>