<h1>LOGIN</h1>
<form action="/login" method="post">
    <label for="net-id">Net ID:</label>
    <input type="text" id="net-id" name="net_id" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required minlength="8">
    <small>Must bee at least 5 characters</small>
    <br>
    <button type="submit">Submit</button>
</form>

<a href="/register">register instead</a>