<div class="bg-white-500 text-grey p-6">
  <h1 class="text-4xl">Your Classmate Network!</h1>
  <p>still under construction, but you can see students who are enrolled in the same classes as you with the number of classes</p><br>
</div>
<main id="network" class="flex justify-center bg-gray-50">
</main>
<script type="module" src="/d3vis.mjs"></script>