<div class="bg-white-500 text-grey p-6">
  <h1 class="text-4xl">Your Classmate Network</h1>
  <p>Click on a student to view their profile or message them!</p><br>
</div>
<main id="network" class="flex justify-center bg-gray-50">
</main>
<script type="module" src="/d3vis.mjs"></script>